<% if quote.successful == true  %>
<%= link_to "Discard", quote_path(quote), method: :delete, data: { confirm: "Are you sure?" }, class:'btn btn-info btn discard-button', remote:true %>
  <% else %>
    <button type="button" class="btn btn-primary" id="connect-button" data-toggle="modal" data-target="#id-<%= quote.id %>">
      Connect
    </button>
    <%= link_to "Discard", quote_path(quote), method: :delete, data: { confirm: "Are you sure?" }, class:'btn btn-info btn', remote: true %>
<!-- Modal -->
<div class="modal fade" id="id-<%= quote.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Connect with <%= quote.accountant.name %></h4>
      </div>
      <div class="modal-body">
        <p> <%= quote.accountant.bio  %></p>
        <p> We will share your details with <%= quote.accountant.email  %></p>
        <p> Expect to hear back within 24hours!</p>
      </div>
      <div class="modal-footer">
         <%= link_to "Connect", quote_change_status_path(quote), class:'btn btn-primary', id:"click-connect", remote:true %>
      </div>
    </div>
  </div>
</div>
<% end %>


