<script>
  quotesContainer<%= index + 1 %> = document.getElementById('quotes-container-<%= index + 1 %>');

  function refresh() {
    fetch('/api/v1/enquiries/<%= enquiry.id %>')
    .then((results) => results.json())
    .then((data) => {
      quotesContainer<%= index + 1 %>.innerHTML = '';
      if (data.quotes.length === 0) {
        text = '<div class="row text-center">\
                  <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">\
                    <h3> No quotes yet. We are finding you the best accountants. </h3>\
                    <br>\
                    <p> Invite accountants to your enquiry to get started. </p>\
                  </div>\
                </div>'
                quotesContainer<%= index + 1 %>.insertAdjacentHTML('afterbegin', text)
      } else {
        data.quotes.forEach((quote) => {
          if (quote.invite === true) {
            var invited = '<div class="pill" id="invited-you">\
                            <p><strong>Invited by You</strong></p>\
                          </div>'
          } else {
            var invited = '<div class="pill" id="invited-new">\
                            <p><strong>New Quote</strong></p>\
                          </div>'
          }
          if (quote.successful === true) {
            var successful = `<div class="pill" id="connected-pill">\
                                <p class ="connect"><strong>Connected</strong> </p>\
                              </div>`
          } else {
            var successful = `<div class="pill" id="unconnected-pill">\
                                <p id="connect${quote.id}"><strong>Not connected</strong> </p>\
                              </div>`
          }
          acctName = `<a href="/accountants/${quote.accountant.id}">${quote.accountant.name}</a>`
          acctEmail = `${quote.accountant.email}`
          if (quote.invite == true) {
            acctMsg = `You wrote: ${quote.message}`
          } else {
            acctMsg = `They wrote: ${quote.message}`
          }
          var buttons = `<a data-confirm="Are you sure?" class="btn btn-info btn" rel="nofollow"\
                            data-method="delete" href="/quotes/${quote.id}" data-remote="true">Discard</a>`;
          var emailButton;

          if (quote.successful != true) {
            var buttons = `<button type="button" class="btn btn-primary" id="connect-button" data-toggle="modal"\
                      data-target="#id-${quote.id}" data-connect-id='${quote.id}'>\
                        Connect\
                      </button>\
                      <a data-confirm="Are you sure?" class="btn btn-info btn" id="discard-button" rel="nofollow"\
                      data-method="delete" href="/quotes/${quote.id}" data-remote="true">Discard</a>
                      <div class="modal fade" id="id-${quote.id}" tabindex="-1"\
                      role="dialog" aria-labelledby="myModalLabel">\
                        <div class="modal-dialog" role="document">\
                          <div class="modal-content">\
                            <div class="modal-header">\
                              <button type="button" class="close" id="close${quote.id}" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
                              <h4 class="modal-title" id="myModalLabel">Connect with ${quote.accountant.name}</h4>\
                            </div>\
                            <div class="modal-body">\
                              <p>Connect to <strong>share your contact details</strong> with ${quote.accountant.name}.<br><br>That's it! <strong>They'll reach out</strong> so you can get back to the work you'd rather be doing.</p>\
                              <form action="/accountants/${quote.accountant.id}/send_email" class="hidden" method="post" id="email-form${quote.id}">\
                                <hr>\
                                <p>From: <%= current_user.email %></p>\
                                <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>\
                                <input type="text" placeholder="Subject" id='email-subject' name="subject">\
                                <textarea placeholder="Your message" id='email-body' name="body" rows="6"></textarea>\
                                <button class="btn btn-primary" data-remote="true" id="send-now${quote.id}">Send</button>\
                              </form>\
                            </div>\
                            <div class="modal-footer">\
                              <div class="footer-flex">\
                                <p class="no-margin"><strong>Need for speed?</strong> Feel free to <strong><a\ id="send-email${quote.id}" href='#' data-remote="true">Reach out now.</a></strong></p>\
                                <a class="btn btn-primary" data-remote="true" href="/quotes/${quote.id}/change_status">Connect</a>\
                              </div>\
                            </div>\
                          </div>\
                        </div>\
                      </div>`;
          }
          text = `<div class="col-xs-12 col-sm-4 slow-appear" data-quote-id='${quote.id}'>\
                    <div class="quote-card">\
                      <div class="acct-card-services" id="quote-pills">\
                        ${invited}\
                        ${successful}
                      </div>\
                      <h4 id="quote-title">${acctName}</h4>\
                      <p id="quote-email">${acctEmail}</p>\
                      <p id="quote-message">${acctMsg}</p>\
                      <div id="quote-buttons">${buttons}</div>\
                    </div>\
                  </div>`;
          quotesContainer<%= index + 1 %>.insertAdjacentHTML('afterbegin', text)
          var emailButton = document.getElementById(`send-email${quote.id}`);
          var form = document.getElementById(`email-form${quote.id}`);
          var sendNow = document.getElementById(`send-now${quote.id}`);

          if (emailButton) {
            emailButton.addEventListener('click', (event) => {
              console.log(0)
              event.preventDefault();
              form.classList.toggle('hidden');
            });
            sendNow.addEventListener('click', (event) => {
              event.preventDefault();
              Rails.fire(form, 'submit');
            });
          }
        })
      }
      refreshButtons.forEach((button) => button.classList.remove('display-none'));
    });
  };
  document.addEventListener("DOMContentLoaded", refresh());
  discardButtons = document.querySelectorAll('#discard-button');
  discardButtons.forEach((button, index) => {
    button.addEventListener('click', () => document.querySelectorAll('#connect-button').splice(index, 1));
  })

  refreshButtons = document.querySelectorAll('#refresh-button');
  refreshButtons.forEach((button) => {
    button.addEventListener('click', (event) => {
      refresh();
    })
  })
</script>
