
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <% @user_enquiries.each_with_index do |enquiry, index| %>
      <li role="presentation" class="<%= 'active' if index == 0 %>"><a href="#enquiry-<%= index %>" aria-controls="enquiry-<%= index %>" role="tab" data-toggle="tab"><%= enquiry.title %></a></li>
    <% end %>

  <!-- Tab panes -->
  <div class="tab-content">
    <% @user_enquiries.each_with_index do |enquiry, index| %>
      <div role="tabpanel" class="tab-pane <%= 'active' if index == 0 %>" id="enquiry-<%= index %>">
        <div class=" grey-wrapper">
          <div class="container">
            <div class="display-flex">
            <h3>Active Enquiry</h3>
            <%= link_to "New Enquiry", new_enquiry_path, class:'btn-primary-outline btn  header-btn '%>
            </div>
            <div class="enquiry-card">
              <h2> <%= enquiry.title %> </h2>
              <%= enquiry.description %>
            </div>
            <h3>Your Quotes</h3>
            <div class="row">
              <% enquiry.quotes.each do |quote| %>
                <div class="col-xs-12 col-sm-4">
                  <div class="quote-card">
                    <h4><%= quote.accountant.name %></h4>
                    <p><%= quote.message %></p>
                    <p> <%= quote.accountant.email %></p>
                    <%= link_to "Connect", '#', class:'btn btn-primary btn primary-color' %>
                    <%= link_to "Discard", quote_path(quote), method: :delete, data: { confirm: "Are you sure?" }, class:'btn btn-info btn' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
