
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <% @user_enquiries.each_with_index do |enquiry, index| %>
      <li role="presentation" class="<%= 'active' if index == 0 %>"><a href="#enquiry-<%= index %>" aria-controls="enquiry-<%= index %>" role="tab" data-toggle="tab"><%= enquiry.title %></a></li>
    <% end %>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <% @user_enquiries.each_with_index do |enquiry, index| %>
      <div role="tabpanel" class="tab-pane <%= 'active' if index == 0 %>" id="enquiry-<%= index %>">
        <div class=" grey-wrapper">
          <div class="container">
            <div style="display: flex;">
              <h3 id="title">Active Enquiry </h3>
              <%= link_to "Invite Accountants", accountants_path, class:'btn-primary-outline btn  header-btn flex-buttons'%>
              <%= link_to "New Enquiry", new_enquiry_path, class:'btn-primary-outline btn  header-btn'%>
            </div>
            <div class="enquiry-card">
              <h2> <%= enquiry.title %> </h2>
              <%= enquiry.description %>
              <%= link_to "Edit Enquiry", edit_enquiry_path(enquiry) %>
              <%= link_to "Delete Enquiry",  enquiry_path(enquiry), method: :delete, data: { confirm: "Are you sure?" } %>
                <div class="acct-card-services">
                  <% enquiry.services.each do |service| %>
                  <div class="card-service">
                      <p><%= service.name %></p>
                  </div>
                  <% end %>
                </div>
            </div>
            <h3>Your Quotes</h3>
            <div class="row">
              <% enquiry.quotes.each do |quote| %>
                <div class="col-xs-12 col-sm-4">
                  <div class="quote-card">
                    <div class="acct-card-services">
                      <div class="card-service">
                        <% if quote.invite == true %>
                          <p>Invited by you</p>
                        <% else %>
                          <p>New quote</p>
                        <% end %>
                      </div>
                      <div class="card-service">
                        <% if quote.successful == true %>
                          <p>Connected</p>
                        <% else %>
                          <p id="connect">Not connected</p>
                        <% end %>
                      </div>
                    </div>
                    <h4><%= quote.accountant.name %></h4>
                    <h5><%= quote.accountant.bio %></h5>
                    <p> <%= quote.accountant.email %></p>
                    <%= render 'connect-button', quote: quote %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>


<script>
  const button = document.getElementById("click-connect");
  button.addEventListener("click", (e) => {
    document.getElementById("connect").innerHTML = "connected";
    button.remove()
  });
</script>


<% if @user_enquiries.count == 0  %>
  <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
    <div class="row text-center">
      <h3> You have no enquiries.</h3>
      <%= link_to "New Enquiry", new_enquiry_path, class:'btn-primary-outline btn  header-btn '%>
    </div>
  </div>
<% end %>















