<div class="main-container">
  <div class="sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#1b" data-toggle="tab">Your Enquiries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#2b" data-toggle="tab">Your Quotes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#3b" data-toggle="tab">Your Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#4b" data-toggle="tab">New Enquiry</a>
        </li>
      </ul>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="1b">
      <div class="context-sidebar grey-wrapper">
        <h3>Your Enquiries</h3>
        <ul class='nav'>
          <% @user_enquiries.each_with_index do |enquiry, index| %>
            <li class='nav-item'>
              <a class='nav-link' href='#<%= index + 1 %>c' data-toggle='tab'>
                <div class="enquiry-context-card enquiry-card">
                  <h2> <%= enquiry.title %></h2>
                  <p> <%= enquiry.description %> </p>
                </div>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="tab-pane" id="2b">
      <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
    </div>
    <div class="tab-pane" id="3b">
      <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
    </div>
    <div class="tab-pane" id="4b">
      <h3>We use css to change the background color of the content to be equal to the tab</h3>
    </div>
  </div>

  <div class="tab-content">
    <% @user_enquiries.each_with_index do |enquiry, index| %>
      <div class="tab-pane" id="<%= index + 1 %>c">
        <div class="context-sidebar grey-wrapper">
          <div class="container">
            <h3>Your Quotes</h3>
            <div class="row">
              <% enquiry.quotes.each do |quote| %>
                <div class="col-xs-12 col-sm-4">
                  <div class="quote-card">
                    <h4><%= quote.accountant.name %></h4>
                    <p><%= quote.message %></p>
                    <p> <%= quote.accountant.email %></p>
                    <%= link_to "Connect", '#', class:'btn btn-primary btn primary-color' %>
                    <%= link_to "Discard", '#', class:'btn btn-info btn' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
  </div>
</div>



