
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <% @user_enquiries.each_with_index do |enquiry, index| %>
      <li role="presentation" class="<%= 'active' if index == 0 %>"><a href="#enquiry-<%= index %>" aria-controls="enquiry-<%= index %>" role="tab" data-toggle="tab"><%= enquiry.title %></a></li>
    <% end %>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <% @user_enquiries.each_with_index do |enquiry, index| %>
      <div role="tabpanel" class="tab-pane <%= 'active' if index == 0 %>" id="enquiry-<%= index %>">
        <div class=" grey-wrapper">
          <div class="container">
            <div style="display: flex;">
              <h3 id="title">
                Active Enquiry
              <% if current_user.admin %>
                <span style="color: red">Viewing as admin</span>
              <% end %>
              </h3>
                <%= link_to "Invite Accountants", accountants_path, class:'btn-primary btn  header-btn flex-buttons'%>
                <%= link_to "New Enquiry", new_enquiry_path, class:'btn-primary-outline btn  header-btn'%>
            </div>
            <div class="pos-rel">
              <div class="card-edit-delete-link">
                <%= link_to "", edit_enquiry_path(enquiry), class:"far fa-edit" %>
                <%= link_to "",  enquiry_path(enquiry), class: "fas fa-trash-alt", method: :delete, data: { confirm: "Are you sure?" } %>
              </div>
              <div class="enquiry-card">
                <h2> <%= enquiry.title %> </h2>
                <%= enquiry.description %>
                  <div class="acct-card-services">
                    <% enquiry.services.each do |service| %>
                    <div class="card-service">
                      <p><%= service.name %></p>
                    </div>
                    <% end %>
                  </div>
              </div>
            </div>
            <h3>Your Quotes <span class="display-none slow-appear btn text-right"></span><i class="fas fa-sync text-center" id="refresh-button"></i></h3>
            <div class="row" id='quotes-container-<%= index + 1 %>'>
              <%= render 'fillQuotes', enquiry: enquiry, index: index %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<% if @user_enquiries.count == 0  %>
  <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
    <div class="row text-center">
      <h3> You have no enquiries.</h3>
      <%= link_to "New Enquiry", new_enquiry_path, class:'btn-primary-outline btn  header-btn '%>
    </div>
  </div>
<% end %>
















