
  <!-- Nav tabs -->
<div>
  <ul class="nav nav-tabs" role="tablist">
    <% @user_enquiries.each_with_index do |enquiry, index| %>
      <li role="presentation" class="<%= 'active' if index == 0 %>"><a href="#enquiry-<%= index %>" aria-controls="enquiry-<%= index %>" role="tab" data-toggle="tab"><%= enquiry.title %></a></li>
    <% end %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <% @user_enquiries.each_with_index do |enquiry, index| %>
      <div role="tabpanel" class="tab-pane <%= 'active' if index == 0 %>" id="enquiry-<%= index %>">
        <div class=" grey-wrapper">
          <div class="container">
            <h3>Active Enquiry</h3>
            <div class="enquiry-card">
              <h2> <%= enquiry.title %> </h2>
              <%= enquiry.description %>
            </div>
            <h3>Your Quotes</h3>
            <div class="row">
              <% enquiry.quotes.each do |quote| %>
                <div class="col-xs-12 col-sm-4">
                  <div class="quote-card">
                    <h4><%= quote.accountant.name %></h4>
                    <p><%= quote.message %></p>
                    <p> <%= quote.accountant.email %></p>
                    <%= link_to "Connect", '#', class:'btn btn-primary btn primary-color' %>
                    <%= link_to "Discard", '#', class:'btn btn-info btn' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

