<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <h1 id='navbar-logo'>magnet<span style="color: black;">.</span></h1>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
          <img src=<%= image_path('avatar.png') %> class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Profile", "#" %></li>
          <li><%= link_to "Your Enquiries", user_path(current_user) %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>
  <% else  %>
    <%= link_to "How it works", root_path(anchor: 'works'), class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Find accountants", accountants_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Log in", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Create Enquiry", new_enquiry_path, class:'btn btn-primary-outline btn-sm landing-button' %>
  </div>
    <% end %>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <li><%= link_to "Profile", "#" %></li>
          <li><%= link_to "Your Enquiries", user_path(current_user) %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "How it works", root_path(anchor: 'works') %></li>
          <li><%= link_to "Log in", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
