<a type="button" class="btn btn-info-outline header-btn" data-toggle="modal" data-target="#contactModal">
  Get in touch
</a>

<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Reach <strong><%= accountant.name %></strong> through one of the following:</h4>
      </div>
      <div class="modal-body">
        <% if @accountant.email %>
          <p>Email: <%= @accountant.email %>
            <% if user_signed_in? %>
              <span style="float: right;">
                <button class="btn btn-primary-outline" id="send-email">Send Email</button>
              </span>
            <% end %>
          </p>
        <% end %>
        <% if @accountant.phone_number %>
          <p>Phone: <%= @accountant.phone_number %></p>
        <% end %>
        <% if @accountant.website %>
          <p>Website: <%= link_to @accountant.website, 'http://' + @accountant.website, target: :_blank %></p>
        <% end %>
        <% if user_signed_in? %>
          <form action="/accountants/<%= @accountant.id %>/send_email" class="hidden" method="post" id="email-form" data-remote="true">
            <hr>
            <p>From: <%= current_user.email %></p>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <input type="text" placeholder="Subject" id='email-subject' name="subject">
            <textarea placeholder="Your message" id='email-body' name="body" rows="6"></textarea>
            <button class="btn btn-primary" id="send-now">Send</button>
          </form>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
