<div class="grey-wrapper">
  <div class="container">
    <h1>Find your accountant</h1>

    <%= simple_form_for Accountant.new, url: accountants_path, method: :get, html: { class: 'accountant-search' } do |f| %>
        <div id="services-field-group">
          <p class="label">Services</p>
          <%= f.input :services, collection: Service.all, label: false, placeholder: 'Search Services', input_html: { class: 'select2-services', multiple: "multiple"} %>
          </div>
        <div id="industries-field-group">
          <p class="label">Industries</p>
          <%= f.input :industries, collection: Industry.all, label: false, input_html: { class: 'select2-industries', multiple: "multiple"} %>
        </div>
        <div id="location-field-group">
          <p class="label">Location</p>
          <%= text_field_tag :search, params[:search] %>
        </div>
      <%= f.button :submit, 'Filter', class: "btn-primary" %>
    <% end %>
  </div>

  <%= render 'no_accountants' if @accountants.length == 0 %>
  <% @accountants.each do |accountant| %>
    <%= render 'accountant_card', accountant: accountant %>
  <% end %>
</div>

<div class="text-center">
  <%= will_paginate @accountants, renderer: BootstrapPagination::Rails %>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $(".select2-services").select2({
      placeholder: "Select the services you require:"
    });
     $(".select2-industries").select2({
      placeholder: "Select the industries you require:"
    });
   });
</script>
