<div class="grey-wrapper">
  <div class="container">
    <h1>Find your accountant</h1>

    <%= simple_form_for Accountant.new, url: accountants_path, method: :get, html: { class: 'accountant-search' } do |f| %>
        <%= f.input :services, collection: Service.all, label: false, placeholder: 'Search Services', input_html: { class: 'select2', multiple: "multiple"} %>
        <%= f.input :industries, collection: Industry.all, label: false, input_html: { class: 'select2', multiple: "multiple"} %>
        <div id="location-filter"><%= text_field_tag :search, params[:search] %></div>
      <%= f.button :submit, 'Filter', class: "btn-primary" %>
    <% end %>
  </div>

  <% @accountants.each do |accountant| %>
    <%= render 'accountant_card', accountant: accountant %>
  <% end %>
</div>

<div class="text-center">
  <%= will_paginate @accountants, renderer: BootstrapPagination::Rails %>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(document).ready(function() { $(".select2").select2(); });
</script>
