<div class="grey-wrapper">
  <div class="container">
    <div class="white-card">
      <h1>Find your accountant</h1>
    </div>
    <%= simple_form_for Accountant.new, url: accountants_path, method: :get do |f| %>
      <%= f.input :services, collection: Service.all, input_html: { multiple: true } %>
      <%= f.button :submit, 'Search' %>
    <% end %>

    <div class="display-flex">
      <%= form_tag accountants_path, method: :get do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search Near", name: nil, id: "search-button" %>
      <% end %>
    </div>

  </div>

  <% @accountants.each do |accountant| %>
    <%= render 'accountant_card', accountant: accountant %>
  <% end %>
</div>

<div class="text-center">
  <%= will_paginate @accountants, renderer: BootstrapPagination::Rails %>
</div>

