<div class="grey-wrapper">
  <div class="container">
    <div class="white-card display-flex">
      <div>
        <h1><%= @accountant.name %></h1>
        <p><%= @accountant.bio %></p>
      </div>
      <%= render 'invite_button', accountant: @accountant %>
    </div>

    <!-- contact info -->

  <div class="white-card">
    <div class="display-flex">
      <h3>Contact information</h3>
      <%= render 'contact_button', accountant: @accountant %>
    </div>
    <hr class="sm-margin">
    <div class="acct-card-details">
      <div class="acct-card-contact">
        <p><%= @accountant.email %></p>
        <p><%= @accountant.phone_number %></p>
        <p class="text-bold"><%= @accountant.location %></p>
      </div>
      <% if @accountant.website %>
        <%= link_to @accountant.website, 'http://' + @accountant.website, target: :_blank %>
      <% end %>
    </div>
  </div>

    <!-- specialties & Quals -->

  <div class="white-card">
    <h3>Services and qualifications</h3>
    <hr class="sm-margin">
    <div class="display-flex">
      <% if @accountant.services.any? %>
        <div class="display-flex">
          <p class="text-bold no-margin">Specializing in:</p>
          <div class="acct-card-services">
            <% @accountant.services.each do |service| %>
              <div class="card-service">
                <p><%= service.name %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div id="qualifications">
        <p class="text-bold no-margin">Qualified by:</p>
        <div id="qual-box">
          <img id="qual-logo" src="https://upload.wikimedia.org/wikipedia/commons/f/f0/ACCA_logo.svg" alt="">
          <p> The Association of Chartered Certified Accountants</p>
        </div>
      </div>
    </div>
    <% if @accountant.industries.any? %>
      <hr class="sm-margin">
      <div>
        <p class="text-bold no-margin">Industries focuses:</p>
        <div id="services">
          <% @accountant.industries.each do |industry| %>
            <div class="card-service">
              <p><%= industry.name %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>


