<div class="banner">
  <div class="banner-content">
    <div>
      <h1> The best accountants for your business. Brought to you.</h1>
      <p>Let us know what you're looking for. In 24 hours we'll deliver the accountants that are trusted by businesses like yours</p>
      <%= link_to "Lets get started", new_enquiry_path, class:'btn btn-primary btn-lg' %>
      <%= link_to "Browse our accountants", accountants_path, class:'btn btn-info btn-lg' %>
    </div>
    <%= image_tag "landing-background.png", id: 'main-graphic' %>
  </div>
</div>

<!-- <div class="title">
  <p>Trusted by <strong> hundreds </strong> of the world's <strong> best </strong> companies </p>
</div>
<div class="trusted-by">
  <div class="company">
     <%= image_tag "airbnb.png", width: 120 %>
  </div>
   <div class="company">
     <%= image_tag "lewagon.png", width: 120 %>
  </div>
   <div class="company">
     <%= image_tag "crowdcube.jpg", width: 120 %>
  </div>
   <div class="company">
     <%= image_tag "revolut.png", width: 120 %>
  </div>
   <div class="company">
     <%= image_tag "muchbetteradventures.png", width: 120 %>
  </div>
</div> -->

<div class="container">
  <div class="feature divider">
    <div class="feature-card pos-rel">
      <h3>Network Approved</h3>
      <p>We find accountants trusted by your business network</p>
      <%= link_to "Find out more", network_path, class:'btm-left' %>
    </div>
    <div class="feature-card pos-rel">
      <h3>Fully Qualified</h3>
      <p>All of our accountants meet the highest standards</p>
      <%= link_to "Find out more", "#works-link", class:'btm-left' %>
    </div>
    <div class="feature-card pos-rel">
      <h3>Totally Free</h3>
       <p>It always has been, and always will be</p>
        <%= link_to "Find out more", "#works-link", class:'btm-left' %>
    </div>
    <div class="feature-card pos-rel">
      <h3>Hand Picked</h3>
       <p>Our team carefully selects every recommendation</p>
        <%= link_to "Find out more", "#works-link", class:'btm-left' %>
    </div>
  </div>
</div>

<div class="customers-section">
  <div class="title">
    <p>What our <strong>Customers</strong> say</p>
  </div>
  <div class="testimonials divider">
    <div class="testimonial">
      <div class = "customer-avatar">
         <%= image_tag "harry.jpg", class: "avatar-large" %>
      </div>
      <div class="customer-copy">
        <h4>Harry</h4>
        <p>much better adventures</p>
        <p>"Magnet was intuitive to use and found us some great options."</p>
      </div>
    </div>
    <div class="testimonial">
      <div class = "customer-avatar">
         <%= image_tag "hayley.jpg", class: "avatar-large" %>
      </div>
      <div class="customer-copy">
        <h4>Hayley</h4>
        <p>HMC Sustainability</p>
        <p>"I'm busy, so having the accountants come to me was a huge plus."</p>
      </div>
    </div>
    <div class="testimonial">
      <div class = "customer-avatar">
         <%= image_tag "stephen.jpg", class: "avatar-large" %>
      </div>
      <div class="customer-copy">
        <h4>Stephen</h4>
        <p>Letsbranch.com</p>
        <p>"We didn't know exactly what we needed, but magnet helped us figure it out."</p>
      </div>
    </div>
  </div>
</div>

<div class="how-it-works-section-background" id="works-link">
  <div class="title background-color-white">
    <p>How it <strong>Works</strong></p>
  </div>
  <div class="container-how-it-works">
    <div class="how-it-works-section">
      <div class="how-it-works-box">
        <h4><span class="space-right"><%= image_tag "one.png", width: 30, class: "number" %></span>Tell us what you need</h4>
        <p>A few quick details about your business and what you're looking for, and we're off to the races</p>
      </div>
      <div class="how-it-works-box">
        <h4><span class="space-right"><%= image_tag "two.png", width: 30, class: "number" %></span>We'll work our magic</h4>
        <p>In 24 hours we'll provide you with a curated list of accountants that specialize in your business type, and your needs</p>
      </div>
      <div class="how-it-works-box">
         <h4><span class="space-right"><%= image_tag "three.png", width: 30, class: "number" %></span>Pick your short-list</h4>
        <p>Pick your favourites from our suggestions or full listing. We'll only share your contact information with the ones you want to talk to</p>
      </div>
      <div class="how-it-works-box">
         <h4><span class="space-right"><%= image_tag "four.png", width: 30, class: "number" %></span>Your choice, delivered</h4>
        <p>We'll get your chosen accountants to get in touch with you. Of course you can make the first move - if that's your thing.</p>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="5bfeea2419e1cb000108ada2" data-style-height="24px" data-style-width="100%" data-theme="light">
    <a href="https://www.trustpilot.com/review/www.accountant-magnet.com" target="_blank">Trustpilot</a>
    </div>
    <a href="https://www.linkedin.com/company/accountant-magnet/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Stotles Ltd. 2018
  </div>
</div>

<script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();
        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });
});
</script>

