<div class="banner">
  <div class="banner-content">
    <div>
      <h1> Find top accountants from your network in seconds </h1>
      <p>Top companies rely on Magnet to find expert accountants for their business.</p>
      <%= link_to "Lets get started", new_enquiry_path, class:'btn btn-primary btn-lg' %>
      <%= link_to "Browse our accountants", accountants_path, class:'btn btn-info btn-lg' %>
    </div>
    <%= image_tag "landing-background.png", class: 'graphic' %>
  </div>
</div>

<div class="title">
  <p>Trusted by <strong> hundreds </strong> of the world's <strong> best </strong> companies </p>
</div>
<div class="trusted-by">
  <div class="company">
     <%= image_tag "airbnb.png", width: 120 %>
  </div>
   <div class="company">
     <%= image_tag "lewagon.png", width: 120 %>
  </div>
   <div class="company">
     <%= image_tag "crowdcube.jpg", width: 120 %>
  </div>
   <div class="company">
     <%= image_tag "revolut.png", width: 120 %>
  </div>
   <div class="company">
     <%= image_tag "muchbetteradventures.png", width: 120 %>
  </div>
</div>

<div class="container">
  <div class="feature divider">
    <div class="feature-card">
      <h3>Full Market </h3>
      <p>View all the accountants in the market</p>
      <%= link_to "Find out more", "#"%>
    </div>
    <div class="feature-card">
      <h3>Highly Vetted</h3>
       <p>All accountants on the service are reviewed</p>
        <%= link_to "Find out more", "#"%>
    </div>
    <div class="feature-card">
      <h3>Advanced Search</h3>
       <p>Quickly find the accountants relevant to you</p>
        <%= link_to "Find out more", "#"%>
    </div>
    <div class="feature-card">
      <h3>Free to use</h3>
      <p>Our service is free to use</p>
      <%= link_to "Find out more", "#"%>
    </div>
  </div>
</div>

<div class="customers-section">
  <div class="title">
      <p>What our <strong>Customers</strong> say</p>
    </div>
    <div class="container-customer">
      <div class="testimonials divider">
        <div class="testimonal">
          <div class = "customer-avatar">
             <%= image_tag "avatar.png", class: "avatar-large" %>
          </div>
          <div class="customer-copy">
            <h4>Harry</h4>
            <p>Le wagon Student </p>
            <p>"Magnet was intuitive to use and found us a excellent accoutant in no time!"</p>
          </div>
        </div  >
        <div class="testimonal">
          <div class = "customer-avatar">
             <%= image_tag "avatar.png", class: "avatar-large" %>
          </div>
          <div class="customer-copy">
            <h4>Katie</h4>
            <p>Le wagon Student </p>
            <p>"Magnet was intuitive to use and found us a excellent accoutant in no time!"</p>
            </div>
        </div>
        <div class="testimonal">
           <div class = "customer-avatar">
             <%= image_tag "avatar.png", class: "avatar-large" %>
          </div>
          <div class="customer-copy">
            <h4>George</h4>
            <p>Le wagon Student </p>
            <p>"Magnet was intuitive to use and found us a excellent accoutant in no time!"</p>
          </div>
      </div>
  </div>
</div>

<div class="how-it-works grey-wrapper" id ="works">
  <div class="container">
    <h2 class = "heading-main">How does Magnet work?</h2>
    <div class="row">
      <div class="col-xs-6 item">
        <%= image_tag "one.png", width: 30, class: "number" %>
        <h5>Tell us about your enquiry</h5>
        <p>Simply supply us with a few details about your enquiry and your business etc</p>
      </div>
      <div class="col-xs-6 item">
        <%= image_tag "two.png", width: 30, class: "number" %>
        <h5> We'll work our magic</h5>
        <p>We will process your information to provide you with an expert who is perfectly tailored to suit your needs etc</p>
      </div>
        <div class="col-xs-6 item">
          <%= image_tag "three.png", width: 30, class: "number" %>
          <h5>Review and hire a expert</h5>
          <p>See all of your quotes on your dashboard in one place etc</p>
        </div>
        <div class="col-xs-6 item">
          <%= image_tag "four.png", width: 30, class: "number" %>
          <h5>Work with them with no risk</h5>
          <p>We can help you make first contact etc. You will have peace of mind being able to see the professional's qualifications etc</p>
        </div>
      </div>
    </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Magnet made with  <i class="fas fa-heart"></i> at Le Wagon
    <span role="img" aria-label="Great Britain">🇬🇧 🇨🇦</span>
  </div>
</div>
