<div class="display-flex">
  <h3>A bit about you</h3>
  <button class="btn btn-default btn-secondary skip-button to-final-tab" type="button" style="opacity: 50%; max-height: 40px; align-items: center;">Skip</button>
</div>
<p>The basics of your business profile will help us get you the most relevant accountants</p>
<div class="row">
  <div class="col-xs-12 col-sm-8">
    <!-- <table>
      <tr>
        <td>
          <p>Either:</p>
        </td>
        <td>
          <%= f.input :company_name %>
        </td>
      </tr>
      <tr>
        <td>
          <p>Or:</p>
        </td>
        <td>
          <%= f.input :company_reg %>
        </td>
      </tr>
      <tr>
        <td>
          <p>Or:</p>
        </td>
        <td> -->
          <%= f.input :industry_string, collection: INDUSTRIES, prompt: "Select one", label: 'Industry' %>
          <%= f.input :size, collection: COMPANY_SIZES.map { |e| "£#{e}m" }, prompt: "Turnover" %>
          <%= f.input :location %>
          <div class="display-flex">
            <%= f.input :closed, label: "  Show me accountants in my network" %>
            <a type="button" class="far fa-edit" data-toggle="modal" data-target="#networkModal"></a>
          </div>
<!--         </td>
      </tr>
    </table> -->
    <br>
    <div class="item">
      <button class="btn btn-secondary breathing-room back-button" type="button">Back</button>
      <button class="btn btn-default btn-info breathing-room next-button to-final-tab" type="button">Next</button>
    </div>
  </div>
</div>

<!-- Modal -->

<div class="modal fade" id="networkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Find the accountants trusted by your network</h4>
          </div>
          <div class="modal-body">
            <strong>Recommendations matter. </strong>Thats why we have the option to see who serves the businesses in your network. <br><br>
            If you check this option we'll ask for some details about your network (e.g., LinkedIn connections). We'll use this to find your most trusted options.<br><br>
            We <strong>never share any of your network data</strong> with third parties (including accountants).
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Got it.</button>
          </div>
        </div>
      </div>
    </div>
