<h1>Submit an Enquiry</h1>
<%= simple_form_for @enquiry do |f| %>
  <%= f.input :title %>
  <%= f.input :services, as: :check_boxes, collection: SERVICES %>
  <%= f.input :description %>
  <%= f.input :is_local %>
  <%= f.input :email %>
  <%= f.submit %>
<% end %>
